body{
    background-color: #333;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    color: rgb(204, 206, 204);
    font-size: 1.4rem;
}
h1{
    display: flex;
    justify-content: center;
}